<style>
   .banmain.for_mobile {
    display: none;
}
@media only screen and (max-width:767px) {
   .banmain.for_mobile {
    display: block;
}
/*   .banmain { display:none; } */
  }
</style>
<div class="banmain for_mobile">
  <div class="bancontent page-width">
    <div class="leftban">
       <a href="{{ section.settings.link }}">{{ section.settings.heading }}</a>
       <span class="leftban_inner">{{ section.settings.heading2 }}</a>
    </div>
    <div class="rightban">
      {% for block in section.blocks %}
      <img src="{{ block.settings.logo | img_url:'master' }}">
      {% endfor %}
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "banner bottom mobile",
    "settings": [
      {
        "type":"text",
        "id":"heading",
        "label":"text here"
      },
       {
        "type":"text",
        "id":"heading2",
        "label":"text here without link"
      },
      {
        "type":"url",
        "id":"link",
        "label":"text link"
      }
    ],
    "blocks":[
      {
        "name":"ban img",
        "type":"banimg",
        "settings":[
          {
            "type":"image_picker",
            "id":"logo",
            "label":"select logo"
          }
        ]
      }
    ],
    "presets":[
      {
        "name":"banner bottom mobile"
      }
    ]
  }
{% endschema %}