<div class="refrence-section page-width">
  <div class="referencelogo">
    {% for block in section.blocks %} 
    <div class="refdiv">
    <img  src="{{ block.settings.logo | img_url: 'master' }}">
      <strong>{{ block.settings.star }}</strong>
    <p>{{ block.settings.label }}</p>
    </div>
      {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "collection logo",
    "class":"reference",
    "settings": [
    {
     "type":"text",
     "id":"heading",
     "label":"Heading"
    },
     {
     "type":"text",
     "id":"subheading",
     "label":"Subheading"
    }
],
"blocks":[{
	"name": "logo",
	"type": "logos",
	"settings":[
      {
       "type": "image_picker",
       "id": "logo",
       "label": "Add image"
        },
      {
        "type":"text",
        "id":"star",
        "label":"starrating"
      },
      {
        "type":"text",
        "id":"label",
        "label":"logo label"
      }
]
}],
"presets":[
 {
   "name":"collection logo"
 }
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
