<div class="m_main">
  <div class="m_cont">
    <div class="m_left">
      <img class="lazyload" data-srcset="{{ section.settings.img | img_url:'master' }}">
    </div>
    <div class="m_right">
      <div class="allcont">
        <img src="{{ section.settings.rightimg | img_url:'master' }}">
        <h3>{{ section.settings.heading }}</h3>
        <p>{{ section.settings.desc }}</p>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Image with text",
  "settings": [
    {
      "type":"image_picker",
      "id":"img",
      "label":"leftimage"
    },
    {
      "type":"image_picker",
      "id":"rightimg",
      "label":"right image"
    },
    {
      "type":"text",
      "id":"heading",
      "label":"heading"
    },
    {
      "type":"text",
      "id":"desc",
      "label":"description"
    }
  ],
  "presets":[
    {
      "name":"iamge with text"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
