{{ 'sustainability.css' | asset_url | stylesheet_tag }}

<section id="sustainability">
    <div class="sus-wrap page-width">
        <div class="sus-video-section">
            <video autoplay muted loop>
                <source src="https://cdn.shopify.com/videos/c/o/v/4e6ebfe962a1439f973b3acaf51cf4b0.mp4" type="video/mp4">
            </video>
            <div class="text-container">
                <h4>Our Commitment to the</h4>
                <h1>Environment</h1>
                <p>We've grown a lot since 2012, expanding our product range, internal team, and company goals. Along with all this growth, our impact on the places we love has grown too. That's why a big part of our mission going forward is to reduce our impact while leading the way towards a more sustainable future.</p>
            </div>
        </div>
    </div>
</section>