.product button#pills-contact-tab,.product button#pills-home-tab,.product button#pills-profile-tab{background-color:unset;font-family:'Manrope 600';font-weight:600;font-style:normal;line-height:100%;font-size:16px}.accordion_body,.accordion_head{font-family:'Manrope 500';margin:0 0 1px;font-weight:500;line-height:26px}.product-img-title.slick-initialized.slick-slider.slick-dotted,p.center_head_faq{margin-bottom:unset}.comment_image,.disclosure,.product .disclosure__item{position:relative}.annoucement-mobile{display:none}p.free_shipping_text{font-family:Manrope;font-style:normal;font-weight:500;font-size:12px;text-align:center;line-height:100%;color:#595959;margin-top:8px}.disclosure__button{align-items:center;cursor:pointer;display:flex;height:4rem;padding:0 1.5rem;font-size:1.3rem;background-color:transparent}.disclosure__list-wrapper{border-width:var(--popup-border-width);border-style:solid;border-color:rgba(var(--color-foreground),var(--popup-border-opacity));overflow:hidden;position:absolute;bottom:100%;transform:translateY(-1rem);z-index:2;background-color:rgb(var(--color-background));border-radius:var(--popup-corner-radius);box-shadow:var(--popup-shadow-horizontal-offset) var(--popup-shadow-vertical-offset) var(--popup-shadow-blur-radius) rgba(var(--color-shadow),var(--popup-shadow-opacity))}.product .nav-link.active,.product button#pills-home-tab{border-top:unset;border-left:unset;width:fit-content;border-right:unset}.faq_comments,.product .product__info-wrapper.grid__item{background:#eff2f6}.disclosure__list{position:relative;overflow-y:auto;font-size:1.4rem;padding-bottom:.5rem;padding-top:.5rem;scroll-padding:0.5rem 0;min-height:8.2rem;max-height:19rem;max-width:22rem;min-width:12rem;width:max-content}.product .disclosure__link{display:block;padding:.5rem 2.2rem;text-decoration:none;line-height:calc(1 + .8 / var(--font-body-scale))}.color__swatches{position:sticky;z-index:999}.product .three_icons{text-align:center;margin-top:32px;padding-bottom:32px}.product button#pills-home-tab{color:#191919}.product .for_background .mb-3{display:flex;align-items:center;margin-bottom:20px!important}.product button#pills-contact-tab,.product button#pills-profile-tab{color:#191919}.product .tab-pane p,.product .tab-pane ul li{font-family:'Manrope 500';font-style:normal;font-weight:500;font-size:14px;line-height:150%}.product .tab-pane.fade.active.show{font-family:'Manrope 700';font-style:normal;font-weight:400;font-size:12px;line-height:150%}.product p.center_condition{font-family:'Manrope 600';font-style:normal;font-weight:500;text-align:center;margin-top:16px;font-size:12px;line-height:150%}.product .for_background{margin-top:20px;padding:23px 24px 0;background:#fff;box-shadow:0 8px 24px rgb(89 89 89 / 5%);border-radius:10px}.product__info-container.product__info-container--sticky{background:#fff;padding:32px;box-shadow:0 8px 24px rgba(89,89,89,.05);border-radius:10px}p.center_head_faq{font-family:"Manrope 700";font-style:normal;padding-bottom:32px;font-weight:700;font-size:32px;padding-top:60px;line-height:100%;color:#191919;text-align:center}.center.collection__view-all a.button,p.center_comment{font-family:'Manrope 700';font-style:normal;font-weight:700}.faq_comments{padding-bottom:60px}.comment_image img,.img-with-texts .image-with-text.image-with-text--no-overlap.page-width.isolate{width:100%}header.header>.header__heading-link{padding-bottom:2rem}.header{padding-top:27px}r nav.header__inline-menu a.header__menu-item{padding-bottom:27px;padding-left:unset;padding-right:unset;margin-left:1.2rem;position:relative;margin-right:1.2rem}sticky-header.header-wrapper .header{padding-bottom:0}.header__icons{padding-bottom:27px}.header a.header__heading-link{padding:unset;padding-left:.75rem}nav.header__inline-menu a.header__menu-item:hover span{text-decoration:none!important}.mega-menus .menus-none.megamenu1:hover,.mega-menus .menus-none.megamenu2:hover,.mega-menus .menus-none.megamenu3:hover,.mega-menus .menus-none.megamenu4:hover,.mega-menus .menus-none.megamenu5:hover{display:block!important}nav.header__inline-menu a.header__menu-item:hover{text-decoration:none}.accordion_container{width:auto;max-width:100%}.accordion_head{font-style:normal;font-size:20px;color:#191919;padding:16px 11px}.accordion_container span.plusminus img.downarrow{right:-6px!important}.accordion_container span.plusminus img{position:absolute;right:10px;top:50%;transform:translateY(-50%)}.accordion_body{font-style:normal;font-size:18px;padding:10px 13px}.panel{border:none}.accordion_head{border-bottom:1px solid #e4eaed;cursor:pointer;position:relative}.accordion_container span.plusminus{font-weight:500}p.center_comment{color:#fcfcfc;font-size:32px;position:absolute;line-height:100%;top:50%;transform:translate(-50%,-50%);left:50%}ul.list-menu a.header__menu-item:after{content:'';position:absolute;width:100%;transform:scaleX(0);height:4px;bottom:1px;left:0;background-color:#000;transform-origin:bottom left;transition:.5s}ul.list-menu a.header__menu-item:hover:after{transform:scaleX(1);transform-origin:bottom left}@media only screen and (min-width:768px){img.For_Mobile{display:none}}@media only screen and (max-width:767px){.menu-drawer .menus.page-width{max-width:100%}.header a.header__heading-link,header.header>.header__heading-link{padding-bottom:unset!important}.faq_comments .container.page-width{padding:unset}.img-with-texts .image-with-text__grid.grid.grid--gapless.grid--1-col.grid--2-col-tablet{background:#fff}.img-with-texts .image-with-text.image-with-text--no-overlap.page-width.isolate{background:#eff2f6;padding:unset}.accordion_head{padding:17px 0;font-family:"Manrope 600";font-weight:600;font-size:14px;line-height:26px}header.header .header__icons{padding-bottom:unset}.img-with-texts .image-with-text__text.rte.body{font-family:"Manrope 500";font-weight:500;padding-top:11px}.collection p.bestprotitle,.newsletter.center .newsletter__wrapper .newsletter__subheading.rte,body.collection p.bestprotitlebottom{font-size:12px}.page-width.image-with-text__content.image-with-text__content--middle{padding-bottom:24px;padding-left:15px;padding-right:15px}p.center_comment{font-size:24px}.img-with-texts .image-with-text h2.image-with-text__heading.h1{font-size:18px;color:#060c05;letter-spacing:-.01em}p.center_head_faq{font-family:"Manrope 800";font-weight:800;font-size:24px;color:#191919;padding-top:40px;padding-bottom:16px}.faq_comments{padding-bottom:40px;padding-top:20px}img.For_Desktop{display:none}.collection .card__information .card__heading.h5{height:unset}.lgrid.slick-slide{text-align:center}.collection .collection-hero__description.rte h1 span{font-size:22px;line-height:28px}.collection .collection-hero__description.rte p span{font-size:15px;line-height:22px}.collection ul#product-grid{grid-gap:10px;max-width:100%;grid-template-columns:50% 50%}.collection .prohandle{grid-column-end:3;margin-top:25px;margin-bottom:14px}#product-grid li.grid__item{padding:8px}.collection .prohandle h2{font-size:18px;line-height:26px;margin-bottom:10px}.collection .card__information .card-information span.price-item.price-item--sale.price-item--last{font-size:14px}body.collection .card__information{margin-bottom:0!important;margin-top:10px!important}.collection .collection-hero__image-container.media>:not(.zoom):not(.deferred-media__poster-button){height:100%}.collection .collection-hero__description.rte{height:unset!important}}@media only screen and (min-width:768px) and (max-width:1024px){sticky-header.header-wrapper .header{padding-bottom:1rem}}@media only screen and (min-width:768px) and (max-width:990px){.newsletter-form__button.field__button{min-width:249px;max-width:249px;margin-top:15px;margin-left:32px}.newsletter.center .newsletter-form__field-wrapper .field{display:unset}}@media only screen and (min-width:1700px){.newsletter-form__button.field__button{max-width:210px;margin-left:27px}.newsletter-form__field-wrapper .field__input{max-width:340px}.newsletter-form__field-wrapper .field{justify-content:flex-end}}@media only screen and (min-width:990px){ul.list-menu.list-menu--inline{margin-bottom:-11px}ul.list-menu a.header__menu-item{padding-bottom:25px;position:relative}header.header{padding-top:20px;padding-bottom:6px!important}.header__icons{padding-bottom:18px;padding-top:4px}.header a.header__heading-link{padding-bottom:9px;padding-left:unset}.header__heading a.header__heading-link img{padding-left:unset}}@media only screen and (max-width:991px){.inner_sub-menu,.menus-none{visibility:hidden;position:absolute;background:#fff;top:0}#Details-menu-drawer-container .menu-drawer,.inner_sub-menu,.menus-none{right:0;transform:translate(100%);width:100%;transition:.5s}.menu-drawer__close-button{font-size:15px;font-family:'Manrope 500'}.inner_sub-menu.menus-none-block2{visibility:visible;transition:.5s;transform:translate(0)}.inner_sub-menu{height:100%;z-index:999}li.new_custom_menu a.header_menu_custom{text-decoration:none;font-size:14px;margin:10px 0;font-family:"Manrope 600";color:#191919}li.new_custom_menu.selected{padding:15px 0;border-bottom:1px solid #efefef;z-index:9999}.menus-none{height:110vh;z-index:9}.menus-none-block{visibility:visible;transform:translate(0);transition:.5s}.menus-none .menus .mob-col{padding:10px 0;border-bottom:1px solid #efefef}#Details-menu-drawer-container .menu-drawer{left:unset}.js .menu-drawer,.menu-drawer{transition:.5s}.js details[open].menu-opening>.menu-drawer{transform:translate(0)!important}.menu-drawer__menu li.menu-for-mobile{cursor:pointer}.menu-drawer__menu li.menu-for-mobile svg.icon.icon--arrow-right{width:10px}a.menu-drawer__menu-item.list-menu__item{position:relative;padding-left:unset;padding-right:unset}.menu-drawer__navigation-container{position:relative;overflow-x:hidden}.menus{padding:0 25px}ul.mega-list-menu.list_section_desktop{padding:unset}.menus .menu-back svg.icon.icon--arrow-left,.menus .menu-back2 svg.icon.icon--arrow-left{width:10px;margin-right:10px}.menu-back2,.menus .menu-back{font-size:16px;padding:10px 0 10px 25px;font-family:"Manrope 600";text-transform:uppercase;color:#191919;display:block;border-bottom:1px solid #efefef;background:#efefef}li.new_custom_menu.menu-heading.selected a{font-weight:600}.menu-drawer summary.menu-drawer__menu-item{padding:1.1rem 25px;display:flex;justify-content:space-between;font-family:'Manrope 500'}li.menu-for-mobile .menu-drawer__menu-item{font-size:15px;border-bottom:1px solid #efefef}li.Shop-all-menu{font-size:15px;border-bottom:1px solid #efefef;padding:1.1rem 25px;font-family:"Manrope 700"}li.Shop-all-menu a{color:rgb(var(--color-foreground))}.header__icons{width:65%;justify-content:flex-end}.header a.header__heading-link{width:75px!important}header.header .header__icons{padding-bottom:0;width:80%}.template-product .header__icon span,.template-product .header__icon--cart,.template-product .header__icon.header__icon--menu span{justify-content:end}.template-product .header a.header__heading-link{text-align:left;padding-left:unset}}@media only screen and (min-width:730px) and (max-width:991px){header.header .header__icons{width:85%}}.center.collection__view-all .button,.shop_now,.slider-homepage .slideshow-image .fill,.sticky-pro-btn .fill,body.collection .summer-sale .summer-content a.fill_summer{--color:#000;--hover:#000}.center.collection__view-all a.button{background:unset;text-transform:uppercase;font-size:16px;line-height:26px;text-align:center;letter-spacing:.08em;text-transform:uppercase;color:#000;border:1px solid #000;border-radius:5px;text-decoration:none}.bestbtn a,.slider-homepage .slideshow-image a.fill{padding:12px 40px;text-align:center;letter-spacing:.04em;text-transform:capitalize;cursor:pointer;position:relative;overflow:hidden}.center.collection__view-all a.button:after{box-shadow:none}.center.collection__view-all a.button:focus,.center.collection__view-all a.button:hover{border-color:var(--hover)!important;color:#fff!important;text-decoration:none!important;border:1px solid #fff!important}.center.collection__view-all .button:hover,.shop_now:hover,.slider-homepage .slideshow-image .fill:hover,.sticky-pro-btn .fill:hover,body.collection .summer-sale .summer-content a.fill_summer:hover{color:var(--color)!important;transition:.3s}.center.collection__view-all .button:focus,.center.collection__view-all .button:hover,.fill:focus,.shop_now:focus,.shop_now:hover,.sticky-pro-btn .fill:hover{box-shadow:inset 0 0 0 2em var(--hover)!important}.slider-homepage .slideshow-image a.fill{background:#fff;color:#1d1d1d;font:inherit;font-family:"Manrope 700";font-style:normal;font-size:18px;line-height:25px}.fill:focus,.slider-homepage .slideshow-image .fill:hover,body.collection .summer-sale .summer-content a.fill_summer:focus,body.collection .summer-sale .summer-content a.fill_summer:hover{box-shadow:inset 0 0 0 2em var(--hover)!important;outline:0;border:none!important}.slider-homepage .slideshow-image a.fill:focus,.slider-homepage .slideshow-image a.fill:hover,.sticky-pro-btn a.fill:focus,.sticky-pro-btn a.fill:hover,a.shop_now:focus,a.shop_now:hover,body.collection .summer-sale .summer-content a.fill_summer:focus,body.collection .summer-sale .summer-content a.fill_summer:hover{border-color:var(--hover)!important;color:#fff!important;text-decoration:none!important}body.collection .summer-sale .summer-content a.fill_summer:hover{background:#000!important}.bestbtn a,a.fill_summer{--color:#000;--hover:#fff}.bestbtn a:hover,a.fill_summer:hover{color:#000 important;transition:.5s}.bestbtn a{background:#000;color:#fff;font:inherit;font-family:"Manrope 700";font-style:normal;font-size:18px;line-height:25px}.bestbtn a:focus,.bestbtn a:hover,a.fill_summer:focus,a.fill_summer:hover{box-shadow:inset 0 0 0 2em var(--hover)!important;outline:0;border:none;color:#000!important;text-decoration:none!important}a.fill_summer:hover{background:#fff!important;border:1px solid #000!important}.newsletter-form__button.field__button{--color:#000;border:1px solid #000!important;--hover:#000}.sticky-pro-btn a.fill:focus,.sticky-pro-btn a.fill:hover{border:2px solid #fff!important}.sticky-pro-btn{margin:20px 0}@media only screen and (min-width:1270px){body.gradient.template-product .product__media-list{margin-bottom:unset!important}body.gradient.template-product .product-form__buttons{border-radius:5px}}.testimonial_slider .container{width:unset!important;max-width:unset!important}ul.mobile_GalleryThumbnails_dots{list-style:none;display:none;padding-left:unset}ul.mobile_GalleryThumbnails_dots li{width:15px;height:15px;border:1px solid #000;border-radius:15px;position:relative;display:flex;align-items:center;justify-content:center;margin-left:10px}ul.mobile_GalleryThumbnails_dots li.active-dot:before{content:"";width:9px;height:9px;background:#000;position:absolute;border-radius:10px}.bestbtn a:hover{box-shadow:inset 0 0 0 2em var(--hover)!important;background:#3f3f3f;transition:.3s}.blackleft a{padding:12px 40px!important;border-radius:2px;--hover:#000}.blackleft .shopallbtn a:hover,.newsletter-form__button.field__button:hover{color:#fff;background:#000;transition:.3s;box-shadow:inset 0 0 0 2em var(--hover)!important}.summer-sale .summer-content a.fill_summer{text-decoration:none;padding:12px 40px!important}.testimonial_slider .carousel-inner .item .container .review .purchased_product>a{min-width:100px!important}@media not all and (min-resolution:.001dpcm){@media{.arrival-products button.prev_arrow.slick-arrow,.bestseller-products button.prev_arrow.slick-arrow{z-index:99}}}body.collection .shopify-section.summersale+.shopify-section.reference .referencelogo{max-width:100%!important}body.collection .prohandle{margin-bottom:0}body.collection .prohandle:first-child{margin-top:75px}@media only screen and (max-width:767px){body.collection ul#product-grid{margin-right:10px;grid-gap:10px 10px}.bestseller-products button.next_arrow.slick-arrow,.bestseller-products button.prev_arrow.slick-arrow{z-index:99999!important;display:block!important}}.accordion .content-container .question{font-size:12px;cursor:pointer;border-bottom:1px solid #fff;position:relative;padding-bottom:0;padding-right:10px;color:#2f2f2f}.accordion .content-container .question:before{content:"^";position:absolute;right:-5px;font-size:21px;transform:rotate(180deg);top:-10px}.accordion .content-container .answer{font-size:12px;line-height:1.5;width:100%;height:0;overflow:hidden;transition:.5s;color:#2f2f2f}.accordion .content-container.active .answer{height:auto}.accordion .content-container.active .question::before{content:'\005e';font-size:21px;top:0;transform:rotate(0)}.accordion .content-container{border-bottom:1px solid #ececec;padding:10px 0}.accordion.custom .align_centr{display:flex;color:#2f2f2f}.accordion .content-container span.que_icon{padding-right:10px}.accordion.custom{border-bottom:unset}.accordion.custom .content_video video{width:100%;height:auto}.referencelogo.page-width .refdiv p a{color:#2f2f2f;text-decoration:none}

/*all-series*/
body.collection\.all-series .banner.dd.\33 {
     display: none; 
	}
body.collection\.all-series .card__information {
background: #fff;
}
body.collection\.all-series .card-information .price {
    text-align: left;
    margin-top: 0;
}
body.collection\.all-series .card__information {
    padding-bottom: 0px;
}
body.collection\.all-series .collection-hero__description.rte h1 {
    font-family: "Manrope 800";
    font-weight: 800;
    font-size: 45px;
    line-height: 56px;
}

body.collection\.all-series .section-all-series-padding {
    padding-top: unset;
}
body.collection\.all-series  li.grid__item[data-active="2"],body.collection\.all-series li.grid__item[data-active="3"],body.collection\.all-series li.grid__item[data-active="4"],body.collection\.all-series li.grid__item[data-active="5"],body.collection\.all-series li.grid__item[data-active="6"] {
    display: none;
}

body.collection section.quick-view li.grid__item[data-active="2"],body.collection section.quick-view li.grid__item[data-active="3"],body.collection section.quick-view li.grid__item[data-active="4"],body.collection section.quick-view li.grid__item[data-active="5"],body.collection section.quick-view li.grid__item[data-active="6"] {
    display: none;
}
body.collection\.all-series .summer-sale .summer-content .summer-sale-subtitle {
    font-size: 14px;
    color: #eff2f7;
    margin-bottom: 12px;
    width: 460px;
}
  body.collection\.all-series .summer-sale .summer-content .summer-sale-heading {
    line-height: 40px;
    width: unset;
    color: #fff;
}
body.collection\.all-series .summer-sale .summer-content a.fill_summer {
    text-decoration: none;
    font-family: "Manrope 700";
    font-size: 18px;
    line-height: 25px;
    background: #fff;
    padding: 20px 40px;
    width: 500px;
      color: #1d1d1d;
}
body.collection\.all-series .summer-sale .summer-content a.fill_summer:hover {
    border-color: var(--hover)!important;
    background: #000!important;
    color:#fff !important;
    text-decoration: none!important;
  box-shadow: inset 0 0 0 2em var(--hover)!important;
}
body.gradient.collection\.all-series .summer-sale .fill_summer_anchor a.fill_summer { --hover: #000; }
section.quick-view .prohandle { display:none; } 
/* section.quick-view li.grid__item[data-active="1"] {
    display: none;
} */
/* section.quick-view .prohandle + li.grid__item {
    display: block;
} */
body.collection section.quick-view .banner.dd.\33 { display:none; }
section.quick-view h2.pro {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: .04em;
    text-transform: capitalize;
    font-family: "Manrope 800";
    font-weight: 800;
    padding-top: 30px;
}
@media only screen and (min-width: 768px) {
 body.collection\.all-series .collection-hero__image-container.media.gradient.colour_change {
    padding: 74px 0;
} 
  body.collection\.all-series .summer-sale .summer-content .summer-sale-heading {
    line-height: 40px;
    width: unset;
    color: #fff;
}
}
@media only screen and (min-width: 1080px) {
body.collection\.all-series .collection-hero__image-container.colour_change .collection-hero__description.rte {
    position: unset!important;
    transform: none;
}
}
@media only screen and (min-width: 1200px) {
body.collection\.all-series .collection-hero__image-container.colour_change .collection-hero__description.rte {
    width: 100%!important;
    max-width: 85%!important;
    padding: 0;
}
}
@media only screen and (min-width: 1400px) {
body.collection\.all-series .collection-hero__image-container.colour_change .collection-hero__description.rte {
    width: 100%!important;
    max-width: 87%!important;
    padding: 0;
}
}

body.collection section.quick-view .prohandlequick {
    grid-column-start: 1;
    text-align: left;
    grid-column-end: 4;
}
  body.collection section.quick-view .prohandlequick h2 {
     font-size: 40px;
    line-height: 40px;
    letter-spacing: .04em;
    text-transform: capitalize;
    font-family: "Manrope 800";
    font-weight: 800;
    margin-top: 75px;
   }
body.collection\.all-series .prohandle {
    margin-bottom: 0px;
}
 section.quick-view .prohandlequick  {
    display: block !important;
} 
body.gradient.collection\.all-series .summer-sale.page-width {
    max-width: 100% !important;
}
body.gradient.collection\.all-series .refrence-section.page-width {
    background: #f5f5f5;
}
body.collection\.all-series .referencelogo {
    border-bottom: unset;
    padding-top: 75px;
    padding-bottom: 75px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: baseline;
    justify-content: space-evenly;
    gap: 50px;
}
body.collection\.all-series .refdiv {
    display: grid;
    text-align: center;
}
body.collection\.all-series  .refdiv img {
    margin: 0 auto;
}
body.collection\.all-series .refdiv strong {
    color: #1b1b1b;
    font-size: 18px;
    line-height: 21px;
    font-family: "Manrope 500";
}
body.collection\.all-series main#MainContent {
    background: #f5f5f5;
}
body.collection\.all-series .reference .refrence-section p{
    font-family: "Manrope 500";
    font-style: normal;
    font-weight: 500;
    color: #2f2f2f!important;
    font-size: 16px;
    line-height: 24px;
    padding-top: 0;
}
body.collection\.all-series .m_right {
    margin-top: 0px;
}
body.collection\.all-series .m_main.secondsection {
    padding-top: 20px!important;
    padding-bottom: 77px!important;
}
body.collection\.all-series .m_main {
    padding: 0!important;
    margin-bottom: 0!important;
}
body.collection section.quick-view ul#product-grid .prohandle {
    display: none !important;
}
@media only screen and (max-width:767px) {
  body.collection section.quick-view .prohandlequick h2 {
      font-size: 18px !important;
      line-height: 26px !important;
      margin-bottom: 10px !important;
      margin-top: 25px;
  }
  body.collection section.quick-view .prohandlequick {
    grid-column-end: 3;
}
  .collection\.all-series .summer-content {
    text-align: left;
    left: 50%;
    width: 90%;
    margin: auto;
    transform: translate(-50%,-50%);
}
  body.collection\.all-series .summer-sale .summer-content .summer-sale-heading {
    font-size: 21px;
    line-height: 24px;
    font-family: "Manrope 600";
    text-transform: capitalize;
    letter-spacing: 1.2px;
    font-weight: 400;
}
  body.collection\.all-series .summer-sale .summer-content .summer-sale-subtitle {
    width: 100%;
    max-width: 100%;
}
  body.collection\.all-series .summer-sale .summer-content a.fill_summer {
    display: block;
    width: 168px;
    margin: 0 auto!important;
    text-align: center;
    border-radius: 2px;
    font-size: 14px;
    font-family: "Manrope 800";
}
  body.collection\.all-series .referencelogo {
    grid-template-columns: auto auto!important;
    gap: 30px 18px;
    width: 100%;
    padding-bottom: 45px;
    max-width: 100%;
}
  body.collection\.all-series .refdiv strong {
    font-size: 14px;
}
  body.collection\.all-series .reference .refrence-section p{
    font-size: 12px!important;
    line-height: 18px;
}
    body.collection\.all-series .summerimg {
    height: unset;
    position: unset;
}
  body.collection\.all-series .summer-sale .summerimg img { position: unset; }
 body.collection\.all-series .collection-hero__image-container.media>*:not(.zoom):not(.deferred-media__poster-button) { height:100%; }
  
.collection-hero__inner .collection-hero__description.rte {
    position: absolute !important;
}
body.collection\.all-series 
.collection-hero__inner .collection-hero__description.rte {
    position: unset !important;
}
.collection .logomain .lgrid a {
    align-items: center;
}


  
}

body.index .slideshow-content .slider-headings {
    font-size: 21px;
}
body.index .slider-homepage .slideshow-content { padding:unset; }
body.index .slider-homepage .slideshow-image p {  font-size: 45px; text-transform: capitalize; }
body.index .slider-homepage .slideshow-image a.fill { background: #000; color:#fff;   }
body.index .slider-homepage .slideshow-image .fill:hover { box-shadow: inset 0 0 0 2em #fff!important; color:#000 !important; }
body.index .slider-homepage .slideshow-content { top: 52%; }

@media only screen and (min-width:320px) and (max-width:510px) {
  body.index .slideshow-content .slider-headings { font-size: 13px !important; }
 body.index .slider-homepage .slideshow-image p { font-size: 26px !important; line-height: 35px; }
 body.index .slider-homepage .slideshow-content { max-width: 320px!important; }
 body.index .slider-homepage .slideshow-image p { margin-top: 0px; }
 body.index .slideshow-content.page-width a.fill { top: 25px; }
}
@media only screen and (max-width:767px) {
 body.index .slider-homepage .slideshow-content { top: 75%; } 
  .slider-homepage .slideshow-image .slider-headings { line-height: 0px; }
}
@media only screen and (min-width:768px) and (max-width:992px){
  body.index .slideshow-content .slider-headings { font-size: 20px; }
  body.index .slider-homepage .slideshow-image p { font-size: 26px; line-height: 35px; }
  
}
@media only screen and (min-width:768px) {
    body.index .homepage-slider .desktop-slide img.slider-desktop { height:unset; }
  .testimonial_slider .carousel-inner ul.slick-dots {
    left: 0;
}
}
@media only screen and (min-width:1600px) {
  body.index .slider-homepage .slideshow-image p { font-size: 60px !important; line-height: 70px!important; }
  body.index .slider-homepage .slideshow-content { max-width: 700px!important; }
  body.index .slideshow-content .slider-headings { font-size: 28px; }
}
