.homepage-collection-content {
    text-align: center;
    padding: 0px 20px;
    margin-top: 56px;
}
.homepage-collection-content h4 {
    margin-bottom: 0;
    font-family: "Manrope 800";
}
.homepage-collection-content h1 {
    margin-top: 10px;
    font-family: "Manrope 800";
    font-size: 47px;
}
.carousel-inner ul.slick-dots {
    z-index: 9;
    bottom: -45px;
}
.carousel-inner .slick-dots li button:before{
    font-size: 36px;

}
.carousel-inner .slick-dots li.slick-active button:before {
    width: 25px;
    font-size: 36px;
    line-height: 20px;
    background: #5f5b5b;
    border-radius: 15px;
    color: #5f5b5b;
    height: 17px;
}
.carousel-inner .slick-dots li{
    margin: 0 2px;
    width: 20px;
}
/* div#bestsellertext {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    grid-row-gap: 10px;
} */
@media all and (max-width: 767px){
    .collectionss .col-title-btn .fill_summer{
        display: none;
    }
    .homepage-collection{
        margin-top: 20px;
    }
}

/******/
.template-product .free-shipping-label{
    font-family: "Manrope 800";
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -.01em;
    color: #191919;
}

.template-product .product-page-price{
    display: flex;
    gap: 10px;
    align-items: center;
}
.template-product .select:has(.select__select[name="options[Leather Color]"]) {
    display: none;
}
.template-product .addons {
    display: flex;
    align-items: center;
    gap: 5px;
}
.template-product .addons p{
  margin-bottom:0px;
}
.template-product .titlemeta.form__label {
    font-style: normal;
    font-weight: 700;
    color: #000;
}
.template-product .three_icons.three_icons_mobile.three_icons_desktop {
    display: unset;
}
.template-product.product .for_background{
  padding-bottom:20px;
}